.u-center-text {
  text-align: center;
}
.u-marginBottom-big {
  margin-bottom: 8rem !important;
}
.u-marginBottom-medium {
  margin-bottom: 4rem;
}
.u-marginBottom-small {
  margin-bottom: 1.5rem;
}
.u-marginTop-big {
  margin-top: 8rem;
}
.u-marginTop-huge {
  margin-top: 12rem;
}
