.u-center-text {
  text-align: center !important;
}
.u-marginBottom-big {
  margin-bottom: 8rem !important;
}
.u-marginBottom-medium {
  margin-bottom: 4rem !important;
}
.u-marginBottom-small {
  margin-bottom: 1.5rem !important;
}
.u-marginTop-big {
  margin-top: 8rem !important;
}
.u-marginTop-huge {
  margin-top: 12rem !important;
}
